.profile__edit {
    padding: 0;
    margin: 0 0 0 18px;
    grid-area: button;
    border: 1px solid #FFFFFF;
    width: 24px;
    height: 24px;
    background: url(../../../images/edit.svg) center/10px no-repeat black;
    align-self: center;
    cursor: pointer;
}

.profile__edit:hover {
    opacity: 0.6;
}

@media (max-width: 720px) {
    .profile__edit {
        width: 18px;
        height: 18px;
        margin-left: 10px;
    }
}
