.popup__description {
    padding: 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: #000000;
    height: 27px;
    outline: none;
}

@media (max-width: 550px) {
    .popup__description {
        margin-bottom: 45px;
    }
}