.popup__close {
    background: url(../../../images/close.svg) center/32px no-repeat;
    width: 32px;
    height: 32px;
    border: none;
    transition: all 0.3s ease-in-out;
}

.popup__close:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media (max-width: 550px) {
    .popup__close {
        width: 20px;
        height: 20px;
    }
}