.profile__name {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.3;
    color: #FFFFFF;
    margin: 0;
    grid-area: name;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 294px;
}

@media (max-width: 720px) {
    .profile__name {
        font-size: 27px;
        line-height: 1.5;
        max-width: 189px;
    }
}