.elements__item {
    width: 282px;
    height: 361px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background-color: white;
    flex-wrap: wrap;
    overflow: hidden;
}